@use './variables' as *;
/* GOOGLE GONT */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: $fg-primary;

@import "bootstrap/scss/variables";

// adding custom colors
$custom-colors: (
  "fg-body": $fg-body,
  "fg-text": $fg-text,
  'fg-footer': $fg-footer,
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

/* BOOTSTRAP IMPORT */

#app{
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
  background-color: $fg-body;
}